{% extends 'base.html' %}

{% block head %}
<!-- Agregar cualquier contenido específico del encabezado si es necesario -->
{% endblock %}

{% block body %}
<h1>Aquamedic - Diagnóstico de Enfermedades de Peces</h1>

<form action="/procesar" method="post">
    <h2>Categoría 1: Síntomas de Comportamiento</h2>
    {% for sintoma in sintomas_comportamiento %}
    <label for="{{ sintoma }}"><input type="checkbox" name="sintomas" value="{{ sintoma }}"> {{ sintoma }}</label><br>
    {% endfor}

    <h2>Categoría 2: Síntomas de Excremento</h2>
    {% for sintoma in sintomas_excremento %}
    <label for="{{ sintoma }}"><input type="checkbox" name="sintomas" value="{{ sintoma }}"> {{ sintoma }}</label><br>
    {% endfor}

    <h2>Categoría 3: Síntomas del Cuerpo</h2>
    {% for sintoma in sintomas_body %}
    <label for="{{ sintoma }}"><input type="checkbox" name="sintomas" value="{{ sintoma }}"> {{ sintoma }}</label><br>
    {% endfor}

    <h2>Categoría 4: Síntomas de las Aletas</h2>
    {% for sintoma in sintomas_fins %}
    <label for="{{ sintoma }}"><input type="checkbox" name="sintomas" value="{{ sintoma }}"> {{ sintoma }}</label><br>
    {% endfor}

    <h2>Categoría 5: Síntomas de las Branquias</h2>
    {% for sintoma in sintomas_branquias %}
    <label for="{{ sintoma }}"><input type="checkbox" name="sintomas" value="{{ sintoma }}"> {{ sintoma }}</label><br>
    {% endfor}

    <h2>Categoría 6: Síntomas de la Cabeza</h2>
    {% for sintoma in sintomas_cabeza %}
    <label for="{{ sintoma }}"><input type="checkbox" name="sintomas" value="{{ sintoma }}"> {{ sintoma }}</label><br>
    {% endfor}

    <input type="submit" value="Obtener Diagnóstico">
</form>


<!-- Puedes agregar contenido adicional después del formulario si es necesario -->
{% endblock %}